.detail-board {

	background-color: #f0ffff;
	border-top: 1px solid #25a4bb;
	margin-top: 1px;

	.container {
		position: relative;
		width: 1226px;
    height: 650px;
		margin: 0 auto;
		padding: 32px 0;

		.left {
      position: relative;
			width: 606px;
		  z-index: 1;
    }

		.right {
			position: absolute;
			top: 72px;
			left: 0;
			width: 100%;
      padding-left: 618px;
      box-sizing: border-box;

      .name {
        color: #ff6700;
      }

      .slogan {
      	margin-top: 10px;
      	font-size: 14px;
      	color: #999;
      	word-wrap: break-word
      }

      .price {
      	margin-top: 20px;
      	font-size: 18px;
      	color: #ff2100;
      }

      .content-wrapper {
      	width: 608px;
        margin-top: 20px;
      }

      .detail-btn {
        float: right;
        width: 150px;
        height: 40px;
        margin-left: 30px;
        line-height: 40px;
        font-size: 18px;
        color: #fff;

        &.add-to-cart-btn {
          background-color: #f20;
        }

        &.purchase-btn {
          background-color: #ff6700;
        }
      }
		}
	}
}