.logo {
	float: left;
	position: relative;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	border-radius: 50%;
	background-color: #25a4bb;
	overflow: hidden;

	.logo-lk {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 110px;
		height: 55px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			display: block;
			width: 55px;
			height: 55px;
			transition: all .3s;
			transform: rotate(0deg);
		}

		&::before {
			left: 0;
			opacity: 0;
			background: url(images/logo_2.png) center center;
		}

		&::after {
			left: 0;		
			opacity: 1;
			background: url(images/logo_1.png) center center;
		}

		&:hover {			
			&::before {
				opacity: 1;
				transform: rotate(720deg);
			}

			&::after {
				opacity: 0;
				transform: rotate(720deg);
			}
		}
	}
}